html {
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23e5e5e5' fill-opacity='1'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.contenitore1 {
    display: grid;
    margin-top: 5px;
    margin: 10px;
    grid-template-columns: 45vw 45vw;
    gap: 10px;
    justify-content: center;   
}
.sottocontenitore1 {
    
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.356);
    
}

.sottocontenitore2 {
    
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.356);
}
.sottocontenitore2 img {
    width: 500px;
    height: 500px;
}

#more {display: none;}

@media screen and (max-width:768px) {
    .contenitore1 {
        grid-template-columns: 1fr;
    }
}